<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name></display-name>
    
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlet.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/servlet/Login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Delete_Cata</servlet-name>       <!--包名.类名!-->
        <servlet-class>Servlet.Delete_Cata</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Delete_Cata</servlet-name>
        <url-pattern>/servlet/Delete_Cata</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Delete_Message</servlet-name>
        <servlet-class>Servlet.Delete_Message</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Delete_Message</servlet-name>
        <url-pattern>/servlet/Delete_Message</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Delete_A_Message</servlet-name>
        <servlet-class>Servlet.Delete_A_Message</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Delete_A_Message</servlet-name>
        <url-pattern>/servlet/Delete_A_Message</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Require_Message</servlet-name>
        <servlet-class>Servlet.Require_Message</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Require_Message</servlet-name>
        <url-pattern>/servlet/Require_Message</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Modify_Account</servlet-name>
        <servlet-class>Servlet.Modify_Account</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Modify_Account</servlet-name>
        <url-pattern>/servlet/Modify_Account</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Modify_Admin_owncount</servlet-name>
        <servlet-class>Servlet.Modify_Admin_owncount</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Modify_Admin_owncount</servlet-name>
        <url-pattern>/servlet/Modify_Admin_owncount</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Modify_E_owncount</servlet-name>
        <servlet-class>Servlet.Modify_E_owncount</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Modify_E_owncount</servlet-name>
        <url-pattern>/servlet/Modify_E_owncount</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AlterMessage</servlet-name>
        <servlet-class>Servlet.AlterMessage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AlterMessage</servlet-name>
        <url-pattern>/servlet/AlterMessage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EAlterMessage</servlet-name>
        <servlet-class>Servlet.EAlterMessage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EAlterMessage</servlet-name>
        <url-pattern>/servlet/EAlterMessage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Alter_A_Message</servlet-name>
        <servlet-class>Servlet.Alter_A_Message</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Alter_A_Message</servlet-name>
        <url-pattern>/servlet/Alter_A_Message</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddEmployee</servlet-name>
        <servlet-class>Servlet.AddEmployee</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddEmployee</servlet-name>
        <url-pattern>/servlet/AddEmployee</url-pattern>
    </servlet-mapping>
    <servlet>
    <servlet-name>Operate_Meeting</servlet-name>
    <servlet-class>Servlet.Operate_Meeting</servlet-class>
</servlet>
    <servlet-mapping>
        <servlet-name>Operate_Meeting</servlet-name>
        <url-pattern>/servlet/Operate_Meeting</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Select_Meeting</servlet-name>
        <servlet-class>Servlet.Select_Meeting</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Select_Meeting</servlet-name>
        <url-pattern>/servlet/Select_Meeting</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Add_Meeting</servlet-name>
        <servlet-class>Servlet.Add_Meeting</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Add_Meeting</servlet-name>
        <url-pattern>/servlet/Add_Meeting</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Delete_Meeting</servlet-name>
        <servlet-class>Servlet.Delete_Meeting</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Delete_Meeting</servlet-name>
        <url-pattern>/servlet/Delete_Meeting</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Require_Late</servlet-name>
        <servlet-class>Servlet.Require_Late</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Require_Late</servlet-name>
        <url-pattern>/servlet/Require_Late</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app>
